.screen
  .aboutOuter(ng-class="{'scroll': page=='about'}")
    .about
      .aboutInner(abouts ng-class="{'hide': page!='about'}")
        .social.mobile
          a(href="mailto:contact@4real.io" target="blank")
            i.fa.fa-envelope
          a(href="http://facebook.com/4realglobal" target="blank")
            i.fa.fa-facebook
          a(href="http://twitter.com/4realglobal" target="blank")
            i.fa.fa-twitter
          a(href="http://instagram.com/4realglobal" target="blank")
            i.fa.fa-instagram
        p 4Real is a global creative agency in NYC + Moscow
        p.indent we design & build cool websites & apps
        p What do you want to do?
        p Cross-platform product launch?   One-off website for a collaborative project?  A new home for your brand online + mobile?
        .social.desktop
          a(href="mailto:contact@4real.io" target="blank")
            i.fa.fa-envelope
          a(href="https://www.facebook.com/pages/4REAL/646277525437451" target="blank")
            i.fa.fa-facebook
          a(href="http://twitter.com/4realglobal" target="blank")
            i.fa.fa-twitter
          a(href="http://instagram.com/4realglobal" target="blank")
            i.fa.fa-instagram


          //- a.icon(href='https://twitter.com/kehindewileyart', target='_blank')
          //-   .front
          //-     svg(viewbox='0 0 32 32')
          //-       use(xlink:href='#twitterS')
          //-   .back
          //-     svg(viewbox='0 0 32 32')
          //-       use(xlink:href='#twitterF')
          //- a.icon(href='https://www.facebook.com/pages/Kehinde-Wiley/307525552594119', target='_blank')
          //-   .front
          //-     svg(viewbox='0 0 32 32')
          //-       use(xlink:href='#facebookS')
          //-   .back
          //-     svg(viewbox='0 0 32 32')
          //-       use(xlink:href='#facebookF')
          //- a.icon(href='http://instagram.com/kehindewiley', target='_blank')
          //-   .front.insta
          //-     svg(viewbox='0 0 32 32')
          //-       use(xlink:href='#instagramS')
          //-   .back.insta
          //-     svg(viewbox='0 0 32 32')
          //-       use(xlink:href='#instagramF')
  .glowBar
  


    //- .about(ng-controller="aboutCtrl" about)
      //- .div(text ng-repeat="info in text")
      //- |{{info}}