.screen
  .aboutOuter(ng-class="{'scroll': page=='about'}")
    .about
      //- .spacer
      .glowBar
      .aboutInner(abouts ng-class="{'hide': page!='about'}")
        p 4Real is a global creative agency in NYC + Moscow
        p.indent we design & build cool websites & apps
        p What do you want to do?
        p Cross-platform product launch?   One-off website for a collaborative project?  A new home for your brand online + mobile?
  .glowBar
    //- .about(ng-controller="aboutCtrl" about)
      //- .div(text ng-repeat="info in text")
      //- |{{info}}