.circle.clock
  .face()
    #hour
    #minute
    #second
    //- ul.minute-marks
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
      li
    ul.digits
      li 
        span 1
      li
        span 2
      li
        span 3
      li
        span 4
      li
        span 5
      li
        span 6
      li
        span 7
      li
        span 8
      li
        span 9
      li
        span 10
      li
        span 11
      li
        span 12
.ampm {{ampm}}
| {{location}}
  

