div#liquid(liquid)
  

  #error.error.tint
    .errorText
      |Eh, your browser does not support WebGL.
      |Try using a recent version of Chrome or Firefox, 
      a(href="https://discussions.apple.com/thread/3300585?start=0") enable WebGL in Safari
      |  or 
      a(href="http://get.webgl.org/") click here for more info.
  #errorMobile.error.tint
    .errorText
      | Unfortunately mobile browsers dont support WebGL yet, try it on desktop!

  .tag
    |3D WebGL experience by 
    a(href="http://4real.io" target="_self") 4rea.io

  div.hidden
    video#video(loop)
      Your browser doesn't appear to support the HTML5 <code>&lt;video&gt;</code> element.
    //- video#zpos(src="video/nyctimelapse")
    //- img#tiles(loaded crossOrigin="" ng-src="../images/tiles.jpg")
    //- img#tiles(crossorigin="anonymous" src='https://s3-us-west-2.amazonaws.com/4real/projects/disimages.png')
    //- img#xneg(src='images/beach/xneg.jpg')
    //- img#xpos(src='images/beach/xpos.jpg')
    //- img#ypos(src='images/beach/ypos.jpg')
    //- img#yneg(src='images/beach/yneg.jpg')
    //- img#zneg(src='images/beach/zneg.jpg')
    //- img#zpos(src='images/beach/zpos.jpg')
    img#xneg(loaded crossOrigin="" ng-src='https://s3-us-west-2.amazonaws.com/4real/skyboxes/trees/negxs.jpg')
    img#xpos(loaded crossOrigin="" ng-src='https://s3-us-west-2.amazonaws.com/4real/skyboxes/trees/posxs.jpg')
    img#ypos(loaded crossOrigin="" ng-src='https://s3-us-west-2.amazonaws.com/4real/skyboxes/trees/negys.jpg')
    img#yneg(loaded crossOrigin="" ng-src='https://s3-us-west-2.amazonaws.com/4real/skyboxes/trees/posys.jpg')
    img#zneg(loaded crossOrigin="" ng-src='https://s3-us-west-2.amazonaws.com/4real/skyboxes/trees/negzs.jpg')
    img#zpos(loaded crossOrigin="" ng-src='https://s3-us-west-2.amazonaws.com/4real/skyboxes/trees/poszs.jpg')
    div#loading | Loading...