//- #videos
  video#v0( video preload='auto' )
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v1.mp4', type='video/mp4', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v1.ogv', type='video/ogg', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    | Your browser does not support the HTML5 video element.

  video#v1(video preload='auto')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v2-1.mp4', type='video/mp4', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v2-1.ogv', type='video/ogg', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    | Your browser does not support the HTML5 video element.

  video#v2(video preload='auto')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v3.mp4', type='video/mp4', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v3.ogv', type='video/ogg', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    | Your browser does not support the HTML5 video element.

  video#v3(video preload='auto')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v4.mp4', type='video/mp4', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    source(src='https://s3-us-west-2.amazonaws.com/4real/various/v4.ogv', type='video/ogg', p-oster='https://s3-us-west-2.amazonaws.com/4real/various/wave1.jpg')
    | Your browser does not support the HTML5 video element.

.tint 


.container

  .siteInfo
    h1
      {{title}}
    p
      {{description}}

 
  #cube(cube)
  
    .glass.back(glass ng-class="{'active': page=='about'}")
      ipad.ipad2
      ipad
        camera
        specular(ng-class="{'active': page=='about'}")
        div(ng-include="'/partials/about'")            
        div.screen(ng-repeat="thispage in ['about']" ng-include="'/partials/nav'")
    
    .glass.front(glass ng-class="{'active' : page==''}")
      ipad.ipad2
      ipad
        specular(ng-class="{'active' : page==''}")
        .main.screen
          .vcenter
            svg(viewBox='0 0 1024 256')
              title 4real
              description 4real digital agency specializing in interactive art
              use(xlink:href="#logo-4real-thin-fill")
              //- span 4real
        div.screen(ng-repeat="thispage in ['']" ng-include="'/partials/nav'")

    
    .glass.left(glass ng-class="{'active': page=='projects'}")
      ipad
        specular(ng-class="{'active': page=='projects'}")
        div( ng-include="'/partials/projects'")  
        div.screen(ng-repeat="thispage in ['projects']" ng-include="'/partials/nav'")


    .glass.right(glass ng-class="{'active': page=='charts'}")
      ipad
        specular(ng-class="{'active': page=='charts'}")
        div(ng-include="'/partials/charts'")
        div.screen(ng-repeat="thispage in ['charts']" ng-include="'/partials/nav'")
 