.smallNav
  ui
    li
      a(href="/")
        |4real
    br
    li
      a(href="/charts")
        i.fa.fa-signal.fa-1x 
    li
      a(href="/about")
        i.fa.fa-comment-o.fa-1x 
    li
      a(href="/projects")
        i.fa.fa-laptop.fa-1x 