.projects.screen(projects ng-controller="projectsCtrl")
  .projectList
    p.heading Some projects we worked on...
    div.projectOuter.animate-list(ng-repeat="project in projects")
      .project(ng-mouseover="$parent.viewproject=$index") 
        a(ng-href="{{project.url}}" target="blank")
          .projectTile(style="background-image:url({{project.img[0].url}})")
          |{{project.title}}

  

  .singleproject.animate-projects(ng-repeat="project in projects" ng-show="$index==viewproject" )
    .projectImage
      a(ng-href="{{project.url}}" target="blank")
        img.largeImage(ng-src="{{project.img[0].url}}" ng-show="project.img[0].url" alt="website project {{project.description}}")
        img.phone(ng-src="{{project.iphone[0].url}}" ng-show="project.iphone[0].url && $index==viewproject" alt="mobile website {{project.description}}")
    //- | {{project.title}}
    | {{viewproject.description}}
