doctype html5
html(ng-app="4real")
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    
    title #{title}
  
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/javascripts/lib/font-awesome/css/font-awesome.min.css')

    script(src="/socket.io/socket.io.js")

    script(type='text/javascript', src="/javascripts/lib/d3/d3.min.js")

    script(type='text/javascript', src="/javascripts/lib/momentjs/min/moment.min.js")
    script(type='text/javascript', src="/javascripts/lib/moment-timezone/min/moment-timezone.min.js")

    script(type='text/javascript', src="/javascripts/lib/momentjs/lang/ru.js")
    script(type='text/javascript', src="/javascripts/lib/icons.js")


    script(type='text/javascript', src="/javascripts/lib/angular/angular.min.js")
    script(type='text/javascript', src="/javascripts/lib/angular-route/angular-route.min.js")
    script(type='text/javascript', src="/javascripts/lib/angular-animate/angular-animate.min.js")
    // script(type='text/javascript', src="/javascripts/lib/angular-moment/angular-moment.min.js")

    // script(type='text/javascript', src="/javascripts/lib/angular-route/angular-route.min.js")
    
    script(type='text/javascript', src="/javascripts/lib/4REAL.js")

    script(type='text/javascript', src="/javascripts/lib/water/OES_texture_float_linear-polyfill.js")
    script(type='text/javascript', src="/javascripts/lib/water/lightgl.js")
    script(type='text/javascript', src="/javascripts/lib/water/cubemap.js")
    script(type='text/javascript', src="/javascripts/lib/water/renderer.js")
    script(type='text/javascript', src="/javascripts/lib/water/water.js")
    script(type='text/javascript', src="/javascripts/lib/water/main.js")


    script(type='text/javascript', src="/javascripts/app/controllers.js")
    script(type='text/javascript', src="/javascripts/app/directives.js")
    script(type='text/javascript', src="/javascripts/app/services.js")
    script(type='text/javascript', src="/javascripts/app/filters.js")
    script(type='text/javascript', src="/javascripts/app/app.js")
  
  body
    block content
