


.aboutInner{
  width:100%;
  height:0;
  overflow:hidden;
  position:absolute;
}

.aboutOuter.scroll{
  height:100%;
  @include transition(height 0.8s ease-out .4s );
}

.aboutOuter{
  @include transition(height .3s  ease-in-out 0s);
  overflow:hidden;
  width:90%;
  max-width:700px;
  position:relative;
  // position:relative;
  // display:table;
  height:0%;
  margin:auto;

  .about{
    width:100%;
    // height:0;
    // display:table-cell;
    vertical-align:middle;
    font-size:20px;
    font-weight:100;
    line-height:26px;
    letter-spacing:1px;
  }
  p{ 
    padding-bottom:30px;
    &.indent{
      padding-left: 100px;
      text-align:right;
    }
  }
}
.spacer{
  height:50%;
}
.glowBar{
  height:0px;
  @include browser(box-shadow, 0 0 30px 8px rgba(255,255,255,.2));
  width:100%;
  opacity:1;
  // @include animation(glowBar .6s);
  @include animation(glowBar .4s 0s);

}
.active .glowBar{
    @include animation(glowBar .8s .4s);
    opacity:0;

}

.cursor{
  @include animation(flash .7s infinite);
}

.social{
  position:relative;
  text-align:center;
  i{

    @include transition(all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s);

    font-size:24px;
    padding:5px;
    &:hover{
      @include transform(scale(1.5,1.5));
    }
  }
  .icon {
    -webkit-backface-visibility: hidden;
    line-height:35px;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin:5px;
    pointer-events: all; 
    cursor: pointer;
    color:rgb(120,120,120);
    // use { width: 24px; height: 24px; }
    svg { 
      fill: #fff; 
      stroke-opacity: 0;
    }
    &:hover {
      .front { opacity: 0; }
      .back  { opacity: 1; }
    }
    .front  { opacity: 1; }
    .back   {
      position: absolute;
      // margin:5px;
      top: 5px;
      width: 30px;
      height: 30px;
      opacity: 0;
    }
  }
}


@include keyframes(glowBar) {
  0%    { opacity: 0; }
  10%   { opacity: 1; }
  // 45%   { opacity: 1; }  
  // 55%   { opacity: 1; }
  90%  { opacity: 1; }
  100%  { opacity: 0; }
}

