


.aboutInner{
  width:100%;
  height:0;
  // overflow:hidden;
  position:absolute;
}

.aboutOuter.scroll{
  height:100%;
  @include transition(height 0.8s ease-out .2s );
}

.aboutOuter{
  @include transition(height .3s  ease-in-out 0s);
  overflow:hidden;
  width:90%;
  max-width:700px;
  position:relative;
  // position:relative;
  // display:table;
  height:0%;
  margin:auto;

  .about{
    width:100%;
    // height:0;
    // display:table-cell;
    vertical-align:middle;
    font-size:20px;
    font-weight:100;
    line-height:26px;
    letter-spacing:1px;
  }
  p{ 
    padding-bottom:30px;
    &.indent{
      padding-left: 100px;
      text-align:right;
    }
  }
}
.spacer{
  height:50%;
}
.glowBar{
  height:0px;
  @include browser(box-shadow, 0 0 30px 8px rgba(255,255,255,.2));
  width:100%;
  opacity:0;

  // @include animation(glowBar .6s);
  // @include animation(none);
  @include animation(glowBar2 .4s);
  // @include browser(animation-fill-mode, both);
    // -moz-animation-fill-mode: forwards;
    // animation-fill-mode: forwards;

}
.glowBar.hidden{
  // @include animation(none);
  // @include animation(glowBar .4s);
  // @include browser(animation-fill-mode, both);

}
.glowBar.visible{
    @include animation(none);
    @include animation(glowBar .9s .2s);
    opacity:0;
    // @include browser(animation-fill-mode, forward);

}

.cursor{
  @include animation(flash .7s infinite);
}

.social{
  &.mobile{
    display:none;
  }
  position:relative;
  text-align:center;
  // padding-bottom:40px;
  // margin-top:-40px;
  i{

    @include transition(all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s);

    font-size:24px;
    padding:10px;
    @include backface-visibility(hidden);

    &:hover{
      @include transform(scale(1.5,1.5));

    }
    h2{
      text-indent: -99999px;
      display: inline-block;
      width:0px;
      overflow:hidden;
    }
  }
  .icon {
    -webkit-backface-visibility: hidden;
    line-height:35px;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin:5px;
    pointer-events: all; 
    cursor: pointer;
    color:rgb(120,120,120);

    // use { width: 24px; height: 24px; }
    svg { 
      fill: #fff; 
      stroke-opacity: 0;
    }
    &:hover {
      .front { opacity: 0; }
      .back  { opacity: 1; }
    }
    .front  { opacity: 1; }
    .back   {
      position: absolute;
      // margin:5px;
      top: 5px;
      width: 30px;
      height: 30px;
      opacity: 0;
    }
  }
}


@include keyframes(glowBar) {
  0%    { opacity: 0; }
  10%   { opacity: 1; }
  // 45%   { opacity: 1; }  
  // 55%   { opacity: 1; }
  90%  { opacity: 1; }
  100%  { opacity: 0; }
}

@include keyframes(glowBar2) {
  0%    { opacity: 0; }
  10%   { opacity: .5; }
  // 45%   { opacity: 1; }  
  // 55%   { opacity: 1; }
  90%  { opacity: .5; }
  100%  { opacity: 0; }
}

@media screen and (max-width: 700px){

  .aboutOuter{
    p{
      padding-bottom:10px;
    }

    .about{
      font-size:17px;
      line-height:1.2em;

      p.indent{
        padding-left: 0px ;
        text-align:right ; 
      }
      // letter-spacing:0;
    }

  }

  .social{
    &.mobile{
      // display:block;
    }
    &.desktop{
      // display:none;
    }
    // text-align:center;
    // margin-top:-60px;
    // text-align:right;
    // padding:0px 0 10px 0;
    i{
      // padding:5px;
    }
  }
  // .aboutOuter.scroll{
  //   min-height:700px;
  // }
  // .about{
  //   min-height:700px;
  //   position:absolute;
  // }
}
