

// .topRight{
//   .tickOuter{
//     display:inline-block;
//     position:relative;
//     width:40%;
//     .tickers{
     
//       padding-bottom:50px;
//       // position:relative;
//     }
//   }
//   .clocks{
//     display:inline-block;
//     vertical-align:top;
//     margin-top:80px;
//     width:60%;
//     float:right;
//   } 
// }

.leftSide{
  display:inline-block;
  // position:relative;
  width:65%;
  padding:7% 5% 0 0px;

}

.rightSide{
  .chartsTitle{
    font-size:30px;
    line-height:1em;
    text-transform: uppercase;
    text-align:left;
    margin-bottom:10px;
    // padding-top:20px;
    color:rgb(0,255,0);
  }
  display:inline-block;
  position:relative;
  // overflow-y:hidden;
  // position:relative;
  width:35%;
  padding:5% 40px 0 5%;
  vertical-align:top;
}

.area{
  fill: none;
  // visibility:hidden;
fill-opacity:0;
}

.active .area{
  // fill: url('#gradient') !important;
  // visibility:visible;
  fill: auto;
  fill-opacity:1;      
}



path {
  stroke: white;
  stroke-width: .8;
  // fill:none;
}

.axis text{
  // color:steelblue;
  stroke: white;
  stroke-width: 0;
  font-size:14px;
  // font-weight:light;
  fill: white;
  width:1;
  font-weight:100;

  // stroke-opacity: .5;
  // fill:none;
}

.axis {
  shape-rendering: crispEdges;

}

.x.axis line {
  stroke: white;
}

.x.axis .minor {
  stroke-opacity: .2;
}

.x.axis path, .y.axis path {
  // display: none;
  stroke-width: .5;
}

.y.axis line, .y.axis path, .x.axis line, .x.axis path {
  // stroke: none;
  fill: none;
  stroke: white;
}

#chart svg{
  width:90%;
  // height:60%;
}

charts{

 }

graph{

  
  // width:100%;
  // height:90%;
  // display:table;
  // position:absolute;
  // text-align:center;
  // padding-left:80px;
  // top:0;
  // left:0;
    // opacity:inherit;

}
#chart{
  position:relative;
  text-align:center;
  .btclogo{
    position:absolute;
    width:100%;
    text-align:center;
    top:50%;
    margin-top:-120px;
    font-size:200px;
    opacity:.1;
  }

  // padding-left:80px;
  // opacity:inherit;
  // display:table-cell;
  // vertical-align:middle;
  // margin-top:-40px;


}

.tooltip{
  // width:100px;
  // height:40px;
  position:absolute;
  z-index:10;
  opacity:0;
}


circle{
  fill:white;

  // stroke:none;
  pointer-events: all;
  padding:10px;
  z-index:10;
  fill-opacity:0;
  stroke-opacity: 0;
  // stroke: white;
  stroke-width:7px;
  &:hover{
    stroke-opacity: .5;
  }
}

$clockColor: white;




.ru{
  font-family: Exo2;
  text-transform: uppercase;
  // font-weight:100;
}

.active .globe{
  margin-top:40px;
  @include browser(filter, hue-rotate(-25deg) brightness(1.5) saturate(150%));
  opacity:.4;
}
.globe{
  opacity: 0;
  width: 140px;
  height: 140px;
  border-radius: 200px;
  overflow: hidden;
  margin:auto;
  img{
    margin: -.8% 0 0 -.8%;
    width: 101.5%;
    height: 101.5%;
  }
}

.tickers{

  position:relative;
  h2{
    i{
      font-size:30px;
    }
  }
  .small{
    font-size:16px;
    padding-bottom:20px;
    line-height: 1em;
    letter-spacing:0;
    i{
      // color:rgb(200,0,0);
      color:white !important;
    }
  }
  max-width: 250px;
  padding:0 5% 100px 5%;
  overflow:hidden;

  i{
    font-size: 14px;
    color: rgb(0, 230, 0);
  }
  // font-family: Arial;
  // font-weight:200;
  // right:180px;
  margin: 40px auto 0 auto;
  font-size:22px;
  line-height:1.4em;
  .cur{
    .right{
      float:right;
    }
  }
  .arrows{
    
    padding-top:7px;
    padding-left:3px;
    display: inline-block;
    vertical-align:top;
    i{
      
      font-size:10px;
      display:block;
      height:4px;
      &.fa-caret-up{
        color:rgb(0,255,0);
        @include animation(flash-in linear 5s infinite);
      }
      &.fa-caret-down{
        color:rgb(255,0,0);
        @include animation(flash-in linear 5s infinite);
      }
      
    }
  }
}


.timeText{
  width:100%;

  padding-top:40px;
  // font-family: Ozone;
  font-family: Digital;

  // width:200px;
  margin:auto;
  // width:60px;
  font-size:18px;
  // float:left;
  text-transform:uppercase;
  line-spacing:0px;
  text-align:center;
  position:absolute;
  bottom:96px;
  left:0px;
  // color:rgb(0,200,0);
  color:lightgrey;
  .time{
    position:relative;
    padding: 1px 0 ;
    margin-bottom:10px;
    span{
      padding:0 5px;
    }

  }
  .day{
    font-size:12px;
    letter-spacing:1px;

    ul{
      li{
        vertical-align:top;
        display:inline-block;
        // background:rgba(200,200,200,.8);
        padding:1px 1px 0px 1px;
        margin: 0 1px;
        line-height: 10px;
        &.select{
          color:rgb(0,0,255);
          // font-weight:bold;
          // opacity:1;
          background:rgba(0,255,0,1);
        }
      }
    }
  }
}

.runner{

  text-transform: uppercase;
  font-family: Ozone;
  // width:1600px;
  white-space: nowrap;
  // position:absolute;
  margin-top:-80px;
  clear:both;
  color:rgb(0,255,0);
  @include browser(transform, translateX(130%));

  line-height: 1.5em;
}

.active .runner{
  @include animation(runner linear 0s);
  @include animation(runner linear 20s 1s infinite );
  @include browser(animation-fill-mode, both);

}

@include keyframes(runner){
  0% {@include browser(transform, translateX(150%))};
  100% { @include browser(transform,translateX(-1600px))};
}

@media screen and (max-height: 700px){

  .leftSide, .rightSide{
    padding-top:4%;
  }

}

@media screen and (max-height: 600px){

    .tickers{
      .prices{
      font-size:20px;
      line-height:1.3em;
      }
    }
    .clock{
      font-size:2.3px;
    }

    .leftSide{
      padding-top:20px;
    } 
    .rightSide{
      padding-top:5px;
    }

    .globe{
      margin-top:-10px !important;
    }

}

@media screen and (max-width: 1100px){

  .clockContainer:nth-child(5){
    display:none !important;
  }
  .clock{
    font-size: 2.4px;
  }
  .tickers{
    .prices{
      font-size:20px;
      line-height:1.3em;
      }
    }
}
@media screen and (max-width: 790px){

  .rightSide{
    padding-right:20px;
  }
  .clockContainer:nth-child(4){
    display:none !important;
  }
}

@media screen and (max-width: 700px){

  .leftSide{
    // display:none;
    width:100%;
    padding:0;
    .clocks{
      display:none;
    }
    margin-top:-100px;
    padding-top: 10px;
  }
  .rightSide{
    // display:none;
    width: 100%;
    // padding-top: 10px;
    padding:0;

  }
  .tickers{
    // display:none;
    padding-left:0;
    padding-right:0;
    // overflow:hidden;
    margin-top:0;
    max-width:none;
    .heading{
      width:53%;
      float:left;
      padding: 20px 5px 0px 15px;
      .chartsTitle{
        font-size:24px;
      }

    }
    .prices{
      width:47%;
      float:right;

      font-size:14px;
      line-height: 1.2em;
      padding: 20px 20px 0 5px;

    }
    i{
      font-size: 10px;
    }
    .globe{
      clear:both;
      margin-top:0px;
      width:120px;
      height:120px;
    }
    .arrows{
      
      padding-top:2px;
      padding-left:2px;
      display: inline-block;
      vertical-align:top;
      i{
        padding:0px 1px 0 1px;
        font-size:6px;
        line-height:1em;
      }
    }
  }

  .day{

    ul{
      li{
        &.select{
          // background:rgb(255,0,0) !important;
        }
      }
    }
  }

  .x.axis path, .y.axis path {
    display: none;
    // stroke-width: .25;
  }

  .axis text{
    font-size:10px;
  }
  #chart svg{
    margin-left:-10px;
  }
  .area{
    fill: none !important;      
  }

}


