$clockColor: white;

.clocks{
  // top:20px;
  // right:0px;
  // float: left;
  position:relative;
  // margin:0px 0 0 0px;
  text-align:center;
}
.clockContainer{
  // float:left;
  // overflow:auto;
  position:relative;
  margin: 0px 2.5% 10px 2.5%;
  // float:left;
  display:inline-block;
}


.clock {
  font-size:2.7px;
  // width: 100px;
  // height: 100px;
  // margin:auto;
  // float:left;
  // right: 20px;
  // top: 20px;
  // float:right;
  position: relative;
  margin-bottom:5px;
}


/* line 27, ../../source/css/_header.scss */
.clock .face {
  width: 32em;
  height: 32em;
  margin:auto;
  border: 2px solid rgba(255,255,255,.75);
  @include box-shadow(inset 1px -1px 2px 0px rgba(200, 200, 255, 0.5), 1px 1px 1px 0px rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  position: relative;
  background:rgba(255,255,255,.1);
}

.clock #hour {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 -1px -25%;
  padding: 1px 0 1px 25%;
  background: $clockColor;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-radius: 5px 0 0 5px;
}
/* line 75, ../../source/css/_header.scss */

// .clock #minute {
//   width:.8em;
//   height:12.5em;
//   border-radius:.5em;
//   background:white;
//   position:absolute;
//   bottom:50%; left:50%;
//   margin:0 0 -1.5em -.4em;
//   // box-shadow:#343536 0 0 2px;
//   @include transform-origin(0.4em, 11em);
// }

.clock #minute {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35% -1px 0;
  padding: 35% 1px 0;
  background: $clockColor;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  border-radius: 5px 5px 0 0;
}


.clock #second {

  width:.4em;
  height:14em;
  border-radius:.1em .1em 0 0/10em 10em 0 0;
  background:#c00;
  position:absolute;
  bottom:50%; left:50%;
  margin:0 0 -2em -0.1em;
  box-shadow:rgba(255,255,255,.4) 0 0 .4em;
  @include transform-origin(0.1em, 12em);
  // @include transition(all ease-in-out .3s)
}
.clock #second:after {
  content:'';
  width:1.4em;
  height:1.4em;
  border-radius:.7em;
  background:inherit;
  position:absolute;
  left:-.65em; 
  bottom:1.35em;
}
.clock #second:before {
  content:'';
  width:.8em;
  height:3em;
  border-radius:.2em .2em .4em .4em/.2em .2em 2em 2em;
  box-shadow:rgba(0,0,0,.8) 0 0 .2em;
  background:inherit;
  position:absolute;
  left:-.2em; bottom:-3em;
}

// .clock #second {
//   font-size:4px;
//   width: 0;
//   height: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin: -40% -1px 0 0;
//   padding: 40% 1px 0 0;
//   // background: $clockColor;
//   -webkit-transform-origin: 50% 100%;
//   -moz-transform-origin: 50% 100%;
//   -ms-transform-origin: 50% 100%;
//   transform-origin: 50% 100%;
// }


.ampm{
  margin-top: -3.4em;
  margin-bottom: 2.4em;
  font-size: 12px;
  // color:rgb(0,255,0);
}

.clock .minute-marks li {
  display:block;
  width:.2em;
  height:.6em;
  background:white;
  position:absolute;
  top:50%; left:50%;

  // margin:-.4em 0 0 -.1em;
}


.clock .digits li span{
  font-size: 9px;
}
.clock .digits li {
  font-size:1.6em;
  display:block;
  width:1.6em;
  height:1.6em;
  position:absolute;
  top:50%; left:50%;
  line-height:1.6em;
  text-align:center;
  margin:-.8em 0 0 -.7em;
  font-weight:bold;
}

.clock .digits li:nth-child(1) { @include transform(translate(3.9em, -6.9em))}
.clock .digits li:nth-child(2) { @include transform(translate(6.9em, -4em))}
.clock .digits li:nth-child(3) { @include transform(translate(8em, 0em))}
.clock .digits li:nth-child(4) { @include transform(translate(6.8em, 4em))}
.clock .digits li:nth-child(5) { @include transform(translate(3.9em, 6.9em))}
.clock .digits li:nth-child(6) { @include transform(translate(0em, 8em))}
.clock .digits li:nth-child(7) { @include transform(translate(-3.9em, 6.9em))}
.clock .digits li:nth-child(8) { @include transform(translate(-6.8em, 4em))}
.clock .digits li:nth-child(9) { @include transform(translate(-8em, 0em))}
.clock .digits li:nth-child(10) { @include transform(translate(-6.9em, -4em))}
.clock .digits li:nth-child(11) { @include transform(translate(-3.9em, -6.9em))}
.clock .digits li:nth-child(12) { @include transform(translate(0em, -8em))}


// .clock .minute-marks li:first-child {@include transform(rotate(6deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(2) {@include transform(rotate(12deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(3) {@include transform(rotate(18deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(4) {@include transform(rotate(24deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(5) {@include transform(rotate(36deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(6) {@include transform(rotate(42deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(7) {@include transform(rotate(48deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(8) {@include transform(rotate(54deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(9) {@include transform(rotate(66deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(10) {@include transform(rotate(72deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(11) {@include transform(rotate(78deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(12) {@include transform(rotate(84deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(13) {@include transform(rotate(96deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(14) {@include transform(rotate(102deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(15) {@include transform(rotate(108deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(16) {@include transform(rotate(114deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(17) {@include transform(rotate(126deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(18) {@include transform(rotate(132deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(19) {@include transform(rotate(138deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(20) {@include transform(rotate(144deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(21) {@include transform(rotate(156deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(22) {@include transform(rotate(162deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(23) {@include transform(rotate(168deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(24) {@include transform(rotate(174deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(25) {@include transform(rotate(186deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(26) {@include transform(rotate(192deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(27) {@include transform(rotate(198deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(28) {@include transform(rotate(204deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(29) {@include transform(rotate(216deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(30) {@include transform(rotate(222deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(31) {@include transform(rotate(228deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(32) {@include transform(rotate(234deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(33) {@include transform(rotate(246deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(34) {@include transform(rotate(252deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(35) {@include transform(rotate(258deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(36) {@include transform(rotate(264deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(37) {@include transform(rotate(276deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(38) {@include transform(rotate(282deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(39) {@include transform(rotate(288deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(40) {@include transform(rotate(294deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(41) {@include transform(rotate(306deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(42) {@include transform(rotate(312deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(43) {@include transform(rotate(318deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(44) {@include transform(rotate(324deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(45) {@include transform(rotate(336deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(46) {@include transform(rotate(342deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(47) {@include transform(rotate(348deg) translateY(-12.7em))}
// .clock .minute-marks li:nth-child(48) {@include transform(rotate(354deg) translateY(-12.7em))}
