
.glass{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:visible;
    // @include animation(rotateAlot .7s);

  // @include browser(transform-style, preserve-3d);
  &.left{
    // @include transform(scale(-1,1));
    @include browser(transform-origin, 0% 50%);
    // @include transform3d(rotateY(90deg));
  }
  &.right{
    @include browser(transform-origin, 100% 50%);
    // @include transform3d(rotateY(-90deg));
  }
  &.back{
    // @include browser(transform-origin, 0% 50%);
    // @include transform3d(rotateY(180deg) translateZ(1200px));
  }
  &.active{
    z-index:1;

  }
  // margin:5% 5%;
  // @include browser(transform-style, preserve-3d);

}

specular {
  position: absolute;
  /*@include browser(filter, blur(2px)); */
  
  pointer-events: none; 
  top: 0%;
  left: 0%;
  z-index: -10;
  width: 100%;
  height: 100%;
  // border-radius: 10px;
  // opacity:.8;
  @include background-image(linear-gradient(-30deg, rgba(0, 0, 0, 0.0) 30%, rgba(255, 255, 255, 0.016) 50%, rgba(0, 0, 0, 0) 50.1%));
  // @include background-image(linear-gradient(-30deg, rgba(0, 0, 255, 0.0) 30%, rgba(255, 255, 255, 0.02) 50%, rgba(255, 255, 255, 0) 50.1%));

  // @include background-image(linear-gradient(-30deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 50.1%));

/*  background: -moz-linear-gradient(-30deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 50.1%) no-repeat;
  background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 50.1%) no-repeat;
  background: linear-gradient(-30deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 50.1%) no-repeat;*/
  // background-position: 150px 100px;
  // -moz-background-size: 1500px 1200px;
  // background-size: 1500px 1200px;
  // -webkit-background-size: 1500px 1200px;
  @include browser(background-size,100%);
  background-repeat: no-repeat;

  // -webkit-background-size: 200% 270%;
  // -moz-mask: -moz-linear-gradient(top, white, transparent 50%);
  // -webkit-mask-box-image: -webkit-linear-gradient(top, white, transparent 50%);
  // mask: linear-gradient(top, white, transparent 50%);
  display:none;
  // @include transition(opacity .4s);

}

.active{
  specular{
    display:block;
  }
  .screen{
    opacity:1;

  }
}

.screen{
  opacity:.1;
  @include transition(opacity .4s);

}

ipad {
  // overflow:hidden;
  position: absolute;
  top: 5%;
  left: 5%;
  // z-index: -1;
  width: 90%;
  height: 90%;
  /*margin-left: -100px;*/
  /*margin-top: -300px;*/
  /*background: #000;*/
  border-radius: 10px;
  // overflow: hidden;
  // border: 1px solid rgba(150,150,150,.6);

  box-shadow: 0 0 1px 1px  rgba(150,150,150,.6);

  // @include browser(transform, translateZ(0));

}

.ipad2{
  display:none;
  // z-index:-100;
  // @include browser(transform, translateZ(-4px));
  // @include browser(transform-style, preserve-3d);
  // border: 1px solid rgba(150,150,150,.3);

}


floor {
  position: absolute;
  top: 40%;
  left: 0%;
  z-index: -1;
  width:70%;
  height:20%;
  /*width: 3000px;*/
  /*height: 1000px;*/
  /*margin-left: -1500px;*/
  /*margin-top: -500px;*/
/*  background: -moz-radial-gradient(center, closest-side, #3a3a3a, #1a1a1a);
  background: -webkit-radial-gradient(center, closest-side, #3a3a3a, #1a1a1a);
  background: radial-gradient(center, closest-side, #3a3a3a, #1a1a1a);*/
  -moz-transform: translateY(340px) rotateX(100deg);
  -webkit-transform: translateY(340px) rotateX(100deg);
  transform: translateY(340px) rotateX(100deg);
  -moz-transform-style: flat;
  -webkit-transform-style: flat;
  transform-style: flat;
}

.active{
    shadow{
      @include browser(box-shadow, 0 0 120px 120px rgba(0,0,0,.04));
      // background:rgba(0,0,0,.04);
      opacity:1;
      -moz-transform: rotateX(75deg) skewX(-15deg) translateZ(0px);
      -webkit-transform: rotateX(75deg) skewX(-15deg) translateZ(0px);
      transform: rotateX(75deg) skewX(-15deg) skewY(0deg) translateZ(0px);
  }
}

shadow {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 100%;
  height: 590px;
  margin-left: -40px;
  margin-top: -620px;
  display:none;
  // background: #000;
  // @include browser(box-shadow, 0 0 120px 120px rgba(0,0,0,.08));

  background:rgba(0,0,0,.04);
  opacity:0;
  // opacity:0px;
  @include transition(opacity .4s);
  border-radius: 20px;
  /*border: 2px solid #000;*/
  z-index: -1;
  -moz-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  /*-moz-box-shadow: 0 60px 360px #000, 0 60px 360px #000, 0 -60px 360px #000, 0 -60px 360px #000, 30px 0 60px #000, 30px 0 60px #000, -30px 0 60px #000, -30px 0 60px #000, 0 0 90px #000, 0 0 90px #000, 30px 30px 90px #000, 30px 30px 90px #000, -30px 30px 90px #000, -30px 30px 90px #000, 30px -30px 90px #000, 30px -30px 90px #000, -30px -30px 90px #000, -30px -30px 90px #000;*/
  /*-webkit-box-shadow: 0 60px 360px #000, 0 60px 360px #000, 0 -60px 360px #000, 0 -60px 360px #000, 30px 0 60px #000, 30px 0 60px #000, -30px 0 60px #000, -30px 0 60px #000, 0 0 90px #000, 0 0 90px #000, 30px 30px 90px #000, 30px 30px 90px #000, -30px 30px 90px #000, -30px 30px 90px #000, 30px -30px 90px #000, 30px -30px 90px #000, -30px -30px 90px #000, -30px -30px 90px #000;*/
  /*box-shadow: 0 60px 360px #000, 0 60px 360px #000, 0 -60px 360px #000, 0 -60px 360px #000, 30px 0 60px #000, 30px 0 60px #000, -30px 0 60px #000, -30px 0 60px #000, 0 0 90px #000, 0 0 90px #000, 30px 30px 90px #000, 30px 30px 90px #000, -30px 30px 90px #000, -30px 30px 90px #000, 30px -30px 90px #000, 30px -30px 90px #000, -30px -30px 90px #000, -30px -30px 90px #000;*/
  /*opacity: .01;*/
  -moz-transform: rotateX(75deg) skewX(-15deg) translateZ(1000px);
  -webkit-transform: rotateX(75deg) skewX(-15deg) translateZ(1000px);
  transform: rotateX(75deg) skewX(-15deg) skewY(80deg) translateZ(0px);
}



@media screen and (max-width: 700px){
.screen{
  opacity:.1;
  @include transition(opacity .2s);

}

.active{
  specular{
    // display:none;
  }
}

}

