@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Raleway);
* {
  padding: 0px;
  margin: 0px;
}
html {
  height: 100%;
}
body {
  font-family: 'Raleway', sans-serif;
  font: 14px;
  height: 100%;
  background-image: url(http://www.okiraa.com/wallpaperstock/crystal-blue-waves-beach-beautiful-blue-crystal-nature-ocean-pretty-sea-sky-stunning-summer-sun-water-waves.jpg);
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #00B7FF;
}
h1 {
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 80px;
  text-align: center;
}
h2 {
  text-align: center;
  color: #969696;
  font-size: 14px;
}
canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
.topSection {
  width: 100%;
  padding: 50px 0 0 0;
}
.outerFolder {
  bottom: 0px;
  height: 60%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: 100% auto;
  width: 100%;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}
.hidden {
  display: none;
}
